[Desktop Entry]
Type=Application
Name=ownKeepass
Icon=icon-launcher-gallery
Exec=invoker --type=silica-qt5 -s /usr/bin/ownKeepass
Comment=Sailfish UI application


