[submodule "common/src/keepassPlugin/keepass2_database/keepassxc"]
	path = common/src/keepassPlugin/keepass2_database/keepassxc
	url = https://github.com/keepassxreboot/keepassxc.git
	branch = master
